.grid-container
{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 156px 156px 156px 156px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    column-gap: 5px;
    row-gap: 5px;
    width: 100%;
    padding: 5px;
}

.grid-item-output
{
    box-sizing: border-box;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    font-size: 40px;
    background-color: darkgray;
    color: white;
    border: 2px solid gray;
}

.grid-item
{
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
}

button
{
    display: block;
    width: 100%;
    height: 100%;
    background-color: darkgray;
    border: 2px solid gray;
    color: white;
    font-size: 40px;
    border-radius: 5px;
}

button:hover
{
    background-color: white;
    color: darkgray;
}

button:active
{
    border: 2px solid black;
}

p
{
    display: block;
    margin: 5px 0px;
    padding-right: 5px;
    padding-top: 40px;
}
