<div class="grid-container">
    <div class="grid-item-output"><p>{{output}}</p></div>
    <div class="grid-item"><button (click)="clearList()">C</button></div>
    <div class="grid-item" ><button>()</button></div>
    <div class="grid-item"><button>%</button></div>
    <div class="grid-item"><button (click)="clickButton('/')">/</button></div>
    <div class="grid-item"><button (click)="clickButton('7')">7</button></div>
    <div class="grid-item"><button (click)="clickButton('8')">8</button></div>
    <div class="grid-item"><button (click)="clickButton('9')">9</button></div>
    <div class="grid-item"><button (click)="clickButton('*')">*</button></div>
    <div class="grid-item"><button (click)="clickButton('4')">4</button></div>
    <div class="grid-item"><button (click)="clickButton('5')">5</button></div>
    <div class="grid-item"><button (click)="clickButton('6')">6</button></div>
    <div class="grid-item"><button (click)="clickButton('-')">-</button></div>
    <div class="grid-item"><button (click)="clickButton('1')">1</button></div>
    <div class="grid-item"><button (click)="clickButton('2')">2</button></div>
    <div class="grid-item"><button (click)="clickButton('3')">3</button></div>
    <div class="grid-item"><button (click)="clickButton('+')">+</button></div>
    <div class="grid-item"><button>+/-</button></div>
    <div class="grid-item"><button (click)="clickButton('0')">0</button></div>
    <div class="grid-item"><button (click)="clickButton(',')">,</button></div>
    <div class="grid-item"><button (click)="calculation()">=</button></div>
</div>