<div class="grid-container">
    <div class="grid-item-output"><p>Output</p></div>
    <div class="grid-item"><button>C</button></div>
    <div class="grid-item"><button>()</button></div>
    <div class="grid-item"><button>%</button></div>
    <div class="grid-item"><button>/</button></div>
    <div class="grid-item"><button>7</button></div>
    <div class="grid-item"><button>8</button></div>
    <div class="grid-item"><button>9</button></div>
    <div class="grid-item"><button>*</button></div>
    <div class="grid-item"><button>4</button></div>
    <div class="grid-item"><button>5</button></div>
    <div class="grid-item"><button>6</button></div>
    <div class="grid-item"><button>-</button></div>
    <div class="grid-item"><button>1</button></div>
    <div class="grid-item"><button>2</button></div>
    <div class="grid-item"><button>3</button></div>
    <div class="grid-item"><button>+</button></div>
    <div class="grid-item"><button>+/-</button></div>
    <div class="grid-item"><button>0</button></div>
    <div class="grid-item"><button>,</button></div>
    <div class="grid-item"><button>=</button></div>
</div>